<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div class="backgroundView">
        <div class="div-form">

            <div class="div-tittle"><h2>Mestre inflação</h2></div>
            <div class="div-icon"> <img src="../imgs/emojiMonocolo.webp" alt="Icone"> </div>
            
            <form action="/tipo" method="post" class="form">
                
                <div class="div-btns">
                    <button class="btn" type="submit" name="tipoOperacao" value="atualizar">
                        Atualizar moeda
                    </button>
                    
                    <button class="btn" type="submit" name="tipoOperacao" value="reverter">
                        Reverter moeda
                    </button>
                </div>
            </form>
        </div>

    </div>
</body>

</html>