<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operacao</title>
</head>
<body>
    <h1>Operacao <%= operacao %> bem sucedida</h1>
    <h2>Resultado: <%= resultado %> </h2>
</body>
</html>