<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operacao</title>
</head>
<body>
    <h1>Operação escolhida</h1>

    <% if(operacaoSess === 'atualizar'){%>
        <p>Para que ano iremos voltar? (atualizar)</p>

    <% } else if(operacaoSess === 'reverter'){%>
        <p>Em que ano estamos? (reverter)</p>

    <% } else {%>
        <p>Nenhum valor escolhido</p>
    <% } %>
</body>
</html>