<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'">Home</button>
    </div>

    <p>Operação: <%= operacao %></p>
    <p>Resultado: <%= resultado %>R$</p>
    <p>Resultado: <%= JSON.stringify(infos, null, 2) %></p>
</body>
</html>