@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #5370FF; */
    font-family: "Roboto", sans-serif;
}

/* CONTAINER PRINCIPAL */
.backgroundView {
    min-height: 100vh;
    padding: 20px;
    background-color: #5370FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTEÚDO CENTRAL */
.div-form {
    background-color: #3D5EFF;
    min-height: 80vh;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.div-tittle{
    margin-top: 30px;
}
/* TÍTULO */
.div-tittle h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 2.0rem;
    color: white;
}

/* ÍCONE */
.div-icon {
    width: 120px;
}

.div-icon img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* BOTÕES */
.div-btns {
    min-width: 32vh;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    /* border:2px solid green; */
}

.btn {
    width: 100%;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 15px;
    border: 2px solid #8086FE;
    background-color: #E4E5FF;
    color: #4E3BA7;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #4E3BA7;
    color: #fff;
}

/* ============================
   TELAS MAIORES (TABLET / DESKTOP)
   ============================ */
@media (min-width: 768px) {
    .div-form {
        max-width: 500px;
    }

    .div-btns {
        gap: 30px;
    }

    .btn {
        font-size: 1.2rem;
    }
}
