@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: #aebcff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== HEADER ===== */
.header {
    position: absolute;
    top: 15px;
    /* left: 15px; */
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
}

.div-icon img {
    width: 40px;
    cursor: pointer;
}

/* ===== CONTAINER PRINCIPAL ===== */
.div-form {
    background-color: #4462f2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 380px;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

/* ===== TÍTULOS ===== */
.div-form label,
.div-form h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

.form-atualizar {
    background-color: #4a63f3;
    /* azul */
}

/* Quando for REVERTER */
.form-reverter {
    background-color: #6971FF;
    /* roxo */
}

.input-ano{
    margin-bottom: 10px;
    /* border: 1px solid red; */
}
/* ===== SELECT ===== */
.wrapper-ano select {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    outline: none;
    margin-top: 10px;
}

/* ===== INPUT ===== */
.input-valor input {
    margin-top: 10px;
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
}

/* ===== BOTÃO ===== */
.div-btn-enviar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-enviar {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #e7e8ff;
    color: #3a2e9b;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-enviar:hover {
    background-color: #d4d6ff;
}

/* ===== RESPONSIVO DESKTOP ===== */
@media (min-width: 768px) {
    .div-form {
        max-width: 420px;
    }
}