@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #5370FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- HEADER ---------- */
.header {
    position: absolute;
    top: 15px;
    /* left: 15px; */
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}

.div-icon img {
    width: 30px;
    cursor: pointer;
}


/* ---------- CARD PRINCIPAL ---------- */
.result-card {
    margin-top: 20vh;
    padding: 28px 20px;
    border-radius: 18px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: #3451f7;
}


/* TEXTOS DO CARD */
.result-card h1 {
    font-size: 2.0rem;
    font-weight: 700;
    margin: 12px 0;
}

.result-card p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* === BOTÃO FLUTUANTE === */
.toggle-area {
    position: fixed;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 20vw;
    height: 10vw;
    max-width: 80px;
    max-height: 40px;

    background: #ffffff;

    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    /* metade do círculo */
    overflow: hidden;
    z-index: 1000;

    display: flex;
    justify-content: center;    

    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.toggle-icon {
    font-size: 38px;
    color: #09083a;
    transition: transform 0.3s ease;
}

/* ROTACIONA A SETA */
.toggle-area.active .toggle-icon {
    transform: rotate(180deg);
}


/* === SIDEBAR === */
.sidebar {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    min-height: 30vh;
    background: #dfe3ff;
    padding: 25px 20px;
    border-radius: 25px 25px 0 0;
    transition: bottom 0.4s ease;
    z-index: 5;
    font-family: 'Roboto Mono', monospace;
}

/* QUANDO ATIVA */
.sidebar.active {
    bottom: 0;
}



/* TEXTO */
.sidebar p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 6px;
}


/* ---------- RESPONSIVO (TELAS MAIORES) ---------- */
@media (min-width: 768px) {
    .result-card {
        max-width: 480px;
        margin: 40px auto;
    }

}